
.topic{
    margin-left: 10px;
    
}

.page-nav{
    margin-top: 8px; 
    align-items: center;
}


.new-leave-btn{

    float: right;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    background-color: orange;
    border: none;
    border-radius: 12px;
    transition: transform .2s;
    margin-top: 8px; 

}

.new-leave-btn:hover{
    cursor: pointer;
    /* transform: scale(1.1); */

}

.sort-el:hover{
    cursor: pointer;
}

.cutom-margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mb-1 { 
    margin-bottom: 0.45rem !important;
  }

  .spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.danger{
    color: red;
    padding: 3px;
    
 
}
