.option{
    padding: 10px;
    
}


.option:hover{
    background-color: rgb(0, 0, 0);
}

.option:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.option:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.option label{
    letter-spacing: 2px;
    padding: 5px;
    padding-left: 10px;

    font-size: 1.2rem;

    
}