.header{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    background-color: transparent;

    padding: 6px 2px;
}

.dropdown{
    display: flex;
    flex-direction: column;

    float: right;

    position: absolute;

    right: 0;

    z-index: 100;
}

.profile-details{

    font-style: inherit;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;

    padding: 10px;

    letter-spacing: 2px;

    text-align: left;

    display: none;
}

.profile-details h2{
    font-size: 1.2rem;
}

.profile-details h3{
    font-size: 0.8rem;

    padding-top: 5px;
}

.option__first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media (max-width: 767.98px){
    .header{
        padding: 3px 1px;
    }

    .profile-details{
        display: block;
    }

    .option__first-child{
        border-radius: 0px;
    }
}