@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767.98px){
    *{
        font-size: 8pt;
    }
}