.page-holder{

}

.header{
    background-color: rgba(0, 119, 255, 0.151)!important;


}


.data-container{
    padding: 10px;
    padding-top: 150px;
    padding-bottom: 60px;

    background-color: rgb(205, 225, 250);
}

.cards{
    display: flex;

    padding: 0px 30px;
}


.data-holder{

    margin: 0 50px;

    padding: 15px;
    border: none!important;
    background-color: transparent !important;

    border-radius: 20px!important;

    width: 25%;
}

.legend-container{
    display: flex;
    margin-bottom: 50px;
}

.legend{
    width: 40px;
    height: 40px;

    border-radius: 10px;

    align-content: center;

    margin-right: 20px;
}

.sick-indicator{
    background-color: orange;
}

.holiday-indicator{
    background-color: rgb(11, 170, 33);
}

.special-indicator{
    background-color: rgb(0, 102, 255);
}

.home-office-indicator{
    background-color: black;
}

.data-holder h5{
    font-weight: bold;

    border-bottom: 1px solid blue;
    padding-bottom: 5px;

    margin-bottom: 30px;
    
}

.info-container{
    display: flex;
}

.availability{
    width: 33%;
    border-left: 1px solid rgba(0, 0, 0, 0.24);

    padding-left: 15px;
}

.availability:first-child{
    border-left: none!important;
}

.overall-static-section{
    width: 100%;

    display: flex;
}

/* Charts */

.stat-graph{
    width: 25%;

    margin-right: 60px;

    height: 500px;
}

.absance-stats{
    width: 50%;
    padding-top: 20px;
}

.date-stat{
    height: 45%;
    padding: 10px 10px;
}

.avatar-container{
    display: flex;

    margin-top: 25px;
}

.avatar-img{
    height: 50px;
    width: 50px;

    border-radius: 50%;

    object-fit: cover;
}

.avatar{
    width: fit-content;
    border-radius: 50%;

    border: 2px solid black;

    margin-right: -20px;
}