.main{
  margin-top: 30px;
    padding: 50px 50px 30px 30px;
    background-color: rgba(131, 190, 245, 0.404);
  }


  .form-field {
   
    margin: 40px 0;
  }
  
  .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 1px 0;
    background-color:rgba(131, 190, 245, 0.03) ;
    color: rgba(34, 31, 31,0.8);
    font-weight: 400;

    font-family: Arial, Helvetica, sans-serif;
  }
  
  .input-text:focus {
    outline: none;
  }
  
  .label {
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 10px;
    left: 0px;
    line-height: 10px;
    font-size: 1em;
    color: rgba(2, 2, 2,0.8);
    cursor: text;
    text-transform: capitalize;
  }
  